@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
font-family: 'Roboto', sans-serif;
padding: 0px;
margin: 0px;
box-sizing: border-box;
outline: none;
}

body {
    background-color: #8A51FC;
}

.logo-money{
    width: 300px;
    margin: 20px auto;
    display: block;
}

main {

width: 375px;
border-radius: 20px;
background-color: #F4F4F4;
margin: auto;
padding: 44px 24px 23px ;
}

label {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}
.currency-select, .currency-real {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
border-radius: 4px;
height: 48px;
width: 327px;
margin-bottom: 24px;
padding-left: 18px;
appearance: none;
font-weight: 700;
font-size: 16px;
color: #555555;
cursor: pointer;
}
.label-input {
    font-weight: 700;
    font-size: 14px;
    color: #777777;
}
.input-currency {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
border-radius: 4px;
height: 48px;
width: 327px;
margin-bottom: 24px;
padding-left: 11px;
font-weight: 700;
font-size: 16px;
color: #555555;
cursor: pointer;
}
.convert-button {
border-radius: 5px;
background: #772FD3;
width: 327px;
height: 48px;
color: #FFF;
font-size: 18px;
font-weight: 700;
line-height: 18px; 
border: none;
cursor: pointer;
}
.convert-button:hover {
    opacity: 0.8;
}
.convert-button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-seta {
    margin: 15px 0px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.moeda-real-paragrafo, .moeda-dollar-paragrafo {
    color: #777777;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}
.valorconvertido-paragrafo, .valoraconverter-paragrafo {
color: #555555;
font-size: 20px;
font-weight: 700;
line-height: 18px; 
}